<div class="center-table">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Login</mat-card-subtitle>
      <mat-card-title>
        <mat-form-field class="example-form-field">
          <mat-label>User</mat-label>
          <input matInput type="text" value="excercise">
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" value="excercise">
        </mat-form-field>
        <button mat-icon-button aria-label="Clear" color="primary" (click)="login()">
          <mat-icon>login</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>